<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Booking List</title>

    </head>

    <body>

        <form action='' method='POST'>
            {{form.as_p}}
            <button type="button" class="btn btn-link">press</button><br>

            {% csrf_token %}
            <label for="appt">Choose a time for your meeting:</label>

<input type="time" id="appt" name="appt"
       min="10:00" max="12:00" required>
<input type="time" id="appt" name="appt"
       min="10:00" max="12:00" required>


<small>C-Contact S-Sharing T-Team</small><br>

<input type="time" id="appt" name="appt"
       min="11:00" max="11:45" required>
<input type="time" id="appt" name="appt"
       min="11:00" max="11:45" required>


<small>C-Contact </small><br>

<input type="time" id="appt" name="appt"
       min="11:30" max="13:00" required>
<input type="time" id="appt" name="appt"
       min="11:30" max="13:00" required>


<small>No_vacant_room</small><br>

<input type="time" id="appt" name="appt"
       min="11:30" max="13:00" required>
<input type="time" id="appt" name="appt"
       min="11:30" max="13:00" required>


<small>T-Team</small><br>

<input type="time" id="appt" name="appt"
       min="11:30" max="12:00" required>
<input type="time" id="appt" name="appt"
       min="11:30" max="12:00" required>


<small> S-Sharing </small><br>

<input type="time" id="appt" name="appt"
       min="14:00" max="15:30" required>
<input type="time" id="appt" name="appt"
       min="14:00" max="15:30" required>


<small>C-Contact </small><br>

<input type="time" id="appt" name="appt"
       min="15:00" max="16:30" required>
<input type="time" id="appt" name="appt"
       min="15:00" max="16:30" required>


<small>S-Sharing </small><br>

<input type="time" id="appt" name="appt"
       min="15:15" max="12:15" required>
<input type="time" id="appt" name="appt"
       min="15:15" max="12:15" required>


<small>Incorrect_Input</small><br>

<input type="time" id="appt" name="appt"
       min="15:30" max="16:00" required>
<input type="time" id="appt" name="appt"
       min="15:30" max="16:00" required>


<small>C-Contact S-Sharing </small><br>

<input type="time" id="appt" name="appt"
       min="15:30" max="16:30" required>
<input type="time" id="appt" name="appt"
       min="15:30" max="16:30" required>


<small>C-Contact </small><br>

<input type="time" id="appt" name="appt"
       min="15:45" max="16:00" required>
<input type="time" id="appt" name="appt"
       min="15:45" max="16:00" required>


<small>S-Sharing</small><br>

<input type="time" id="appt" name="appt"
       min="16:00" max="17:00" required>
<input type="time" id="appt" name="appt"
       min="16:00" max="17:00" required>


<small> S-Sharing </small><br>

<input type="time" id="appt" name="appt"
       min="18:00" max="19:00" required>
<input type="time" id="appt" name="appt"
       min="18:00" max="19:00" required>


<small>No_vacant_room</small><br>

        </form>    

    </body>

    </html>