<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Booking List</title>

    </head>

    <body>

        <form action='' method='POST'>
            {{form.as_p}}
            {% csrf_token %}
            <label for="appt">Choose a time for your meeting:</label>

<input type="time" id="appt" name="appt"
       min="09:30" max="13:15" required>
<input type="time" id="appt" name="appt"
       min="09:30" max="13:15" required>


       <small>C-Contact</small><br>

<input type="time" id="appt" name="appt"
       min="13:45" max="18:45" required>
<input type="time" id="appt" name="appt"
       min="13:45" max="18:45" required>


       <small>C-Contact</small><br>   

<input type="time" id="appt" name="appt"
       min="12:55" max="14:00" required>
<input type="time" id="appt" name="appt"
       min="12:55" max="14:00" required>


       <small>Incorrect_Input</small><br>

<input type="time" id="appt" name="appt"
       min="13:45" max="17:15" required>
<input type="time" id="appt" name="appt"
       min="13:45" max="17:15" required>


       <small>S-Sharing</small> <br> 

<input type="time" id="appt" name="appt"
       min="13:45" max="15:00" required>
<input type="time" id="appt" name="appt"
       min="13:45" max="15:00" required>


       <small>T-Team</small> <br>  

<input type="time" id="appt" name="appt"
       min="14:00" max="15:00" required>
<input type="time" id="appt" name="appt"
       min="14:00" max="15:00" required>


       <small>T-Team</small>   <br>

<input type="time" id="appt" name="appt"
       min="17:00" max="18:30" required>
<input type="time" id="appt" name="appt"
       min="17:00" max="18:30" required>


       <small>T-Team</small>  <br>    

<input type="time" id="appt" name="appt"
       min="17:00" max="18:00" required>
<input type="time" id="appt" name="appt"
       min="17:00" max="18:00" required>


       <small>No_vacant_room</small>  <br>  

<input type="time" id="appt" name="appt"
       min="17:30" max="18:00" required>
<input type="time" id="appt" name="appt"
       min="17:30" max="18:00" required>


       <small>S-Sharing</small> <br>    

<input type="time" id="appt" name="appt"
       min="17:00" max="18:30" required>
<input type="time" id="appt" name="appt"
       min="17:00" max="18:30" required>


       <small>No_vacant_room</small>   <br>  

<input type="time" id="appt" name="appt"
       min="15:35" max="16:35" required>
<input type="time" id="appt" name="appt"
       min="15:35" max="16:35" required>


       <small>Incorrect_Input</small>    <br>                                      


    </body>

    </html>